<div class="colors">
  <div class="color" style="background-color: #ff0000;">Red</div>
  <div class="color" style="background-color: #ff6d00;">Orange</div>
  <div class="color" style="background-color: #fff400;">Yellow</div>
  <div class="color" style="background-color: #80ff00;">Green</div>
  <div class="color" style="background-color: #00ffe3;">Light Blue</div>
  <div class="color" style="background-color: #0036ff;">Blue</div>
  <div class="color" style="background-color: #7200ff;">Violet</div>
</div>
