<!--<div cdkDropList (cdkDropListDropped)="drop($event)" class="widgets" #widgetsContainer>
  <div cdkDrag class="socket fillAll"><app-colors></app-colors></div>
  <div cdkDrag class="socket fillHalf"><app-users></app-users></div>
  <div cdkDrag class="socket fillHalf"><app-form></app-form></div>
  <div cdkDrag class="socket fillHalf"><app-tasks></app-tasks></div>
  <div cdkDrag class="socket fillAll"><app-numbers></app-numbers></div>
  <div cdkDrag class="socket empty"></div>
</div>-->
<div cdkDropList (cdkDropListDropped)="drop($event)" class="widgets" #widgetsContainer>
</div>
